@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Montserrat';
    padding: 0;
    margin: 0px;
}

body{
    height: 100%;
    display: grid;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background: #ecb16a;
}

.dress{
    position: relative;
    transition: 0.25s ease-in-out;
}

.dress.dress-img, .dress.overlay-dress{
    width: 337px;
    height: 600px;
}

.dress.overlay-dress{
    z-index: 2;
    fill: #E7E7FC;
    mix-blend-mode: multiply;
    position: absolute;
    top: 0;
    left: 0;
}

.dress.overlay-dress.fade{
    transition: 0.6s ease-in-out;
}

.input-wrapper{
  height: 90px;
  width: 174px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.input-wrapper label{
    padding-bottom: 10px;
}

.colours__inputs {
  position: absolute;
  bottom: 1em;
  display: flex;
  flex-direction: column;
  }

.colours__inputs input{
    border: none;
    display: block;
    height: 40px;
    width: 100%;
    margin: 0;
    text-align: center;
    border-radius: 6px;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.btn.btn-random{
    color: #222;
    font-weight: bold;
    height: 40px;
    width: 100%;
    border: 0;
    border-radius: 6px;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 940px) {
    .dress {
      height: 50%;
      transform: scale(0.8);
    }
    .colours__inputs{
      flex-direction: column;
    }
  }
  @media (max-width: 580px) {
    .dress {
      align-items: start;
      justify-content: start;
    }
}
  @media (max-width: 460px) {
    .dress {
      transform: scale(0.7);
    }
  }