@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
  font-family: 'Montserrat';
  padding: 0px;
  margin: 0px;
}
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  justify-content: center;
  align-items: center;
  background: #ecb16a;
}

.container{
  display: grid;
  grid-template-columns: 70vw 30vw;
  grid-template-areas: "dress pickers";
  justify-content: center;
  align-items: center;
}

.dress{
  /* justify-content: center;
  align-items: center; */
  padding-left: 150px;
  position: relative;
  transition: 0.1s ease-in-out;
  grid-area: dress;
}

.dress.dress-img, .dress.overlay-dress{
    width: 337px;
    height: 600px;
}

.dress.overlay-dress{
  padding-left: 150px;
    z-index: 2;
    fill: #E7E7FC;
    mix-blend-mode: multiply;
    position: absolute;

}

.dress.overlay-dress.fade{
    transition: 0.6s ease-in-out;
}

.colours__inputs {
  grid-area: pickers;
  justify-content: center;
  flex-direction: column;
}

.input-wrapper{
  justify-content: center;
  flex-direction: column;
  height: 90px;
  width: 174px;
  display: flex;
  padding: 10px;
}

.input-wrapper label{
    padding-bottom: 10px;
}


.colours__inputs input{
    border: none;
    height: 40px;
    width: 100%;
    margin: 0;
    text-align: center;
    border-radius: 6px;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.btn.btn-random{
    color: #222;
    font-weight: bold;
    height: 40px;
    width: 100%;
    border: 0;
    border-radius: 6px;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 940px) {
   .container{
    grid-template-columns: 50vw 50vw;
    grid-template-areas: "dress pickers";
  } 
  .dress {
    padding-left: 50px;
    transform: scale(0.85);
  }
  .dress.overlay-dress{
    padding-left: 50px;
    }
  .colours__inputs{
    transform: scale(0.7);
  }
}

@media (max-width: 580px) {
  .container{
    grid-template-columns: 50vw 50vw;
    grid-template-areas: "dress pickers";
  }
  .dress {
    padding: 0;
    transform: scale(0.7);
  }
  .dress.overlay-dress{
  padding: 0;
  }
  .colours__inputs{
    flex-direction: column;
  }
}

@media (max-width: 460px) {
    .container{
      grid-template-columns: 50vw 50vw;
      grid-template-areas: "dress pickers";
    }
    .dress {
      padding: 0;
      transform: scale(0.75);
    }
    .dress.overlay-dress{
    padding: 0;
    }
}